.hero__open{
    margin-top: 25px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    width: 1005px;
    height: 351px;
    background-color: var(--primary-soft);
    }

 .hero__title{
    padding-left: 20px;
     font-family: "Cairo", sans-serif;
     font-weight: 400;
     font-size: 20px;
     line-height: 100%;
     color: var(--text);
 }

 .hero__reed{
    padding: 32px 24px;
    margin-top: 25px;
    background-color: #3748A6;
    border-radius: 12px;
    width: 261px;
    height: 351px;
    
 }

 .hero__clock{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .hero__title__sap{
    padding-bottom: 20px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--white);
 }

 .hero__list{
    padding-bottom: 30px;
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: var(--white);
 }

 .hero__wrap{
    border-radius: 14px;
    padding: 7px 24px;
    width: 210px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    background-color: var(--white);
 }



   